video {
    margin: 0 auto;
    display: block;
}
#camera-wrapper {
    z-index: 2;
    float: right;
    clear: both;
    position: relative;
    max-width:  320px;
    width: 45%;
    margin-right: 20px;
}
#canvas, #video {
    /* width: 320px;
    margin: 0 1.875rem; */
    width: 100%;
    max-width: 320px;
    margin: 0;
    position: absolute;
    top: 0%;
    right: 0%;
}
#pic-response{
    width: 100%;
    color: #fff;
    text-align: right;
    margin: 0;
    position: absolute;
    /* bottom: 0; */
    line-height: 40px;
    /* padding: 20px; */
    font-size: 17px;
    text-shadow: -1px -1px 2px #000;
}
