
/*
 * Copyright © 2018. All rights reserved.
 *
*/


#bg-video, .bg-video {
    width: 100%; 
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    /* left: 15%;
    right: 15%; */
    z-index: 1;
}

#rings-container,
#spirit-container {
    /* position: relative; */
}

@media screen and (orientation: landscape) {
    #bg-video, .bg-video {
        width: 70%; 
        left: 15%;
        right: 15%;
    }
}