/*
 * Copyright © 2018. All rights reserved.
 *
*/


html{
    font-size: 2vw;
}

#instructions {
    margin-top: 25%;
}

#pic-response{
    margin-top: 250px;
}

/* @media only screen and (orientation: portrait) {
   
    #pic-response{
        margin-top: 180px;
    }

    #instructions {
        margin-top: 50%;
    }
} */

@media only screen and (max-width: 1100px) {
   
}

@media only screen and (max-width: 950px) {
    
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 700px) {
    
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (max-width: 500px) {
    
    #pic-response{
        margin-top: 140px;
    }
}

@media only screen and (max-width: 400px) {
    
    html{
        font-size: 3vw;
    }

    #bg-video, .bg-video {
        top: 9.5%;
    }
}